{% extends 'base.html' %}

{% block css %} 
<link rel="stylesheet" href="../static/css/adicionar_produto.css"> 
{% endblock %}

{% block titulo %} ConstruMais+ - Adicionar Produto {% endblock %}

{% block conteudo %}
<main>
    {% set _ = get_flashed_messages() %} <!-- Gambiarra para parar de dar erro nas mensagens flash -->

    <h1>Adicionar Material</h1>

    <form action="{{ url_for('adicionar') }}" method="POST">
        <label for="nome">Nome do Material:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="preco">Preço (R$):</label>
        <input type="number" id="preco" name="preco" step="0.01" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="5"></textarea>

        <button type="submit" class="btn">Adicionar Material</button>
    </form>

    <a href="{{ url_for('produtos') }}" class="btn">Voltar</a>
</main>
{% endblock %}