{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %}
{% block titulo %} ConstruMais+ - Materiais de Construção  {% endblock %}

{% block conteudo %}
    <main>
        <h1>Bem-vindo à ConstruMais+!</h1>
        <p>Sua loja de produtos e materiais de construção no menor preço!</p>

        {% if current_user.is_authenticated %}
            <p>Você está logado.</p>
            <a href="{{ url_for('produtos.produtos') }}">Ver Materiais</a> |
            <a href="{{ url_for('auth.logout') }}">Sair</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a> |
            <a href="{{ url_for('auth.register') }}">Cadastrar Usuário</a> 
        {% endif %}
    </main>
{% endblock %}

